.margin_top_100{
margin-top: 30px;
color:
}
.box-chart{
	padding: 15px;
    border: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.01)
}
.row_padd{
	padding: 15px;
}
.tab-margin{
	margin-top: 15px;
}

  