<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<mapping resource="Interval30.hbm.xml" />
		<mapping resource="Customer.hbm.xml" />
		<mapping resource="TransformerStation.hbm.xml" />
		<mapping resource="CurrentTransformer.hbm.xml" />
		<mapping resource="ElectricalBus.hbm.xml" />
		<mapping resource="EnergyMeter.hbm.xml" />
		<mapping resource="EnergyMeterType.hbm.xml" />
		<mapping resource="Fider.hbm.xml" />
		<mapping resource="SectionBus.hbm.xml" />
		<mapping resource="Voltage.hbm.xml" />
		<mapping resource="VoltageTransformer.hbm.xml" />
		<mapping resource="Register.hbm.xml" />
		<mapping resource="IntervalStrings.hbm.xml" />
		<mapping resource="TimeZone.hbm.xml" />
		
	</session-factory>
</hibernate-configuration>